.visibledevice {display:none;}
.visible

body{

    font-size: 6;
}
.html{

    font-size: 6;
    max-width: 1100px;
}
#box
{
    font-size: 1.7rem;
    color: whitesmoke;
    background-color:grey;
    width:250px;
    height: 25%;
    color: blue;
    font-family: monospace;
    margin: auto;
    margin-top:2rem;
    
}






.underline{
    font-size: 2rem;
    border-style:solid;
    width: .25rem;
    color: rgb(0, 0, 0);
    
}
