body{

    font-size: 6;
}
.html{

    font-size: 6;
}
#box
{
    font-size: 2rem;
    color: whitesmoke;
    background-color:grey;
    width:620px;
    height:500px;
    color: blue;
    font-family: monospace;
}
